.contact__info-user{
    font-family: 'Open Sans';
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: $content-width;
    margin: 0 auto;
    .contact__info-wrapper{
        margin-top: 120px;
        .contact__info-title{
            color: #585858;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .contact__info-subtitle{
            max-width: 800px;
            color: #7f7f7f;
        }
        &::after{
            content: '';
            display: inline-block;
            width: 130px;
            margin: 0 auto;
            height: 2px;
            background-color: $line-color;
            margin-top: 45px;
        }
    }
}
.data{
    max-width: $content-width;
    font-family: 'Open Sans';
    margin: 0 auto;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    .data__wrapper{
        width: 50%;  
        .input__wrapper{
            display: flex;
            .input__name{
                margin-right: 50px;
            }
            input{  
                width: 50%;
                padding: 25px 50px 25px 50px;
                border-radius: 10px;
                border: 0;
                background-color: #e5e5e5;
                font-weight: 600;
            }
        }  
        textarea{
            width: 100%;
            border-radius: 10px;
            border: 0;
            background-color: #e5e5e5;
            font-weight: 400;
            margin-top: 45px;
            height: 250px;
            padding: 25px 50px 25px 50px;
            resize: none;
        }
        .data__button{
            margin-top: 35px;
                button{
                    display: block;
                    text-decoration: none;
                    font-weight: 700;
                    width: 100%;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    border: 0;
                    background-color: #ff3b3b;
                    border-radius: 5px;
                    color: white;
                    text-transform: uppercase; 
                }
        }
        
    }
    .contact__info{
        margin-left: 75px;
        width: calc(50% - 75px);
        background-color: #2d2d2d;
        padding-left: 75px;
        .contact__wrapper{
            height: 100%;
            text-align: left;
            flex-direction: column;
            display: flex;
            justify-content: center;
            color: #e0e0e0;
            h3{
                text-transform: uppercase;
            }
            p{
                margin-top: 20px;
            }
        }
    }
}
